<!-- Display current list of chores selected-->
<h3>Current Chores</h3>
<table class="table">

    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Priority</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Frequency</th>
        </tr>
    </thead>

    <tbody>
        {{#each chores}}
            <tr>
                <th scope="row">{{name}}</th>
                <td>{{priority}}</td>
                <td>{{difficulty}}</td>
                <td>{{frequency}}</td>
                <td>
                    <button type="submit" class="btn btn-primary btn-xs">
                        <a href="/chore/{{_id}}">Update</a>
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-warning btn-xs" onclick="deleteChore({{_id}})">Delete</button>
                </td>
            </tr>
        {{/each}}
        
        
    </tbody>

</table>

<script src="deleteChore.js"></script>
