<!-- Display current list of chores selected-->
<h3>Current Chores</h3>
<table class="table">

    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Priority</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Frequency</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th scope="row">Scrub counters</th>
            <td>2</td>
            <td>4</td>
            <td>Weekly</td>
            <td> <button type="submit" class="btn btn-primary btn-xs">Edit</button></td>
            <td> <button type="submit" class="btn btn-warning btn-xs">Delete</button></td>
        </tr>
        <tr>
            <th scope="row">Vacuum</th>
            <td>5</td>
            <td>1</td>
            <td>Weekly</td>
            <td> <button type="submit" class="btn btn-primary btn-xs">Edit</button></td>
            <td> <button type="submit" class="btn btn-warning btn-xs">Delete</button></td>
        </tr>
        <tr>
            <th scope="row">Laundry</th>
            <td>3</td>
            <td>1</td>
            <td>Weekly</td>
            <td> <button type="submit" class="btn btn-primary btn-xs">Edit</button></td>
            <td> <button type="submit" class="btn btn-warning btn-xs">Delete</button></td>
        </tr>
    </tbody>

</table>

<!-- Display current list of chores selected-->
<!--
<h1>Current Chores<h1>
<table>

    <thead>
    <th>Name</th>
    <th>Priority</th>
    <th>Difficulty</th>
    <th>Frequency</th>
    </thead>

    <tbody>
        {{#each chore}}
        <tr>
            <td>{{name}}</td>
            <td>{{priority}}</td>
            <td>{{difficulty}}</td>
            <td>{{frequency}}</td>
            <td><button onclick="deleteChore({{id}})">Delete</button></td>
            <td><a href="/chore/{{id}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>

</table>-->